run = "npm install --no-fund --no-audit --silent && node server.js"
entrypoint = "index.js"
modules = ["nodejs-20"]

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "node server.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
